@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

/* variavéis de cores que serão utilizadas ao longo do projeto */
:root {
    --secondary-bacground-color-dark: #262626;
    --background-color-light: #E1E1E1;
    --background-color-dark: #191919;
    --text-color-light: #000000;
    --text-color-dark: #FFFFFF;
    --primary-color: #C54B8C;

}

body {
    background-color: var(--background-color-dark);
    display: flex;
    height: auto;
    flex: 1;
    width: 100%;
}

header {
    background-color: var(--secondary-bacground-color-dark);
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    display: flex;
    height: 10vh;
    width: 100%;
}

.name {
    color: var(--primary-color);
    letter-spacing: 1.5px;
    font-size: 22px;
}


nav ul {
    text-decoration: none;
    flex-direction: row;
    display: flex;
    gap: 20px;
}

.nav-links {
    color: var(--text-color-dark);
    letter-spacing: 0.7px;
    text-decoration: none;
    font-size: 14px;
}

.nav-links:hover {
    color: var(--primary-color);
    transition: 0.4s;
    font-size: 15px;
}

.container-icons {
    display: flex;
    gap: 20px;
}

i {
    color: var(--text-color-dark);
    cursor: pointer;
    font-size: 22px;
}

i:hover {
    color: var(--primary-color);
    transition: 0.4s;
    font-size: 23px;
}

main {
    flex-direction: column;
    margin-top: 10vh;
    display: flex;
}
 
.sidebar {
    background-color: var(--secondary-bacground-color-dark);
    color: var(--text-color-dark);
    flex-direction: column;
    align-items: center;
    position: fixed;
    display: flex;
    padding: 30px;
    height: 100vh;
    width: 20%;
    gap: 20px;
}

.profile-photo {
    height: 25vh;
    width: 12vw;
}

.sidebar-name{
    font-size: 22px;;
}

.sidebar-profession{
    font-size: 13px;
}

.sidebar-contact{
    flex-direction: column;
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.sidebar-icons{
    align-items: center;
    display: flex;
    gap: 15px;
}

.sidebar-icons a:hover{
    color: var(--primary-color);
}

.sidebar-icons a{
    color: var(--text-color-dark);
    text-decoration: none;
}
